In [1]:
import pandas as p

In [ ]:
df = p.read_csv('Data/training_ratings_for_kaggle_comp.csv')
# Preview a part of dataframe
df[:5]

   user  movie  rating         id
0  2783   1253       5  2783_1253
1  2783    589       5   2783_589
2  2783   1270       4  2783_1270
3  2783   1274       4  2783_1274
4  2783    741       5   2783_741

In [ ]:
mov_ratings, user_ratings = {}, {}
for index, row in df.iterrows():
    if row['movie'] not in mov_ratings:
        mov_ratings[row['movie']] = []
    if row['user'] not in user_ratings:
        user_ratings[row['user']] = []
    mov_ratings[row['movie']] += [row['rating']]
    user_ratings[row['user']] += [row['rating']]

In [ ]:
for x in mov_ratings:
    rating = sum(mov_ratings[x])/len(mov_ratings[x])
    mov_ratings[x] = rating
for x in user_ratings:
    rating = sum(user_ratings[x])/len(user_ratings[x])
    user_ratings[x] = rating

In [ ]:
df = p.read_csv('Data/sample_submission.csv')
df[:5]

In [ ]:
# string split
x = '1_1193'
movie = x[x.find('_') + 1:]
print(int(movie))

In [ ]:
values = [['user','rating','id']]
for index, row in df.iterrows():
    x = row['id']
    movie = int(x[x.find('_') + 1:])
    if movie in mov_ratings and row['user'] in user_ratings:
        row['rating'] = (mov_ratings[movie] + user_ratings[row['user']])/2
    elif movie in mov_ratings:
         row['rating'] = mov_ratings[movie]
    elif row['user'] in user_ratings:
        row['rating'] = user_ratings[row['user']]
    else:
        row['rating'] = 0
    df.set_value(index, 'rating', row['rating'])

In [ ]:
df.to_csv('Data/results.csv', index=False)