In [1]:
import pandas as p

In [2]:
df = p.read_csv('Data/movies.dat', sep='::', engine='python')
# Preview data
df[:5]

   ID                                NAME                         GENRE
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [3]:
genre = {}
movie = {} # key : ID ,value : Genre
for index, row in df.iterrows():
    g = row['GENRE'].split('|')
    movie[row['ID']] = g
    for gen in g:
        if gen not in genre:
            genre[gen] = [row['ID']]
        else:
            genre[gen] += [row['ID']]

In [4]:
df = p.read_csv('Data/training_ratings_for_kaggle_comp.csv')
# rating for all the genre of the movie
gen_rating = {} 
for index, row in df.iterrows():
    MId = row['movie']
    for gen in movie[MId]:
        if gen not in gen_rating:
            gen_rating[gen] = [row['rating']]
        else:
            gen_rating[gen] += [row['rating']]

In [5]:
# Testing
df = p.read_csv('Data/sample_submission.csv')
df[:5]

   user  rating      id
0     1     3.5  1_1193
1     1     3.5   1_661
2     1     3.5   1_914
3     1     3.5  1_3408
4     1     3.5  1_2355

In [6]:
values = [['user','rating','id']]
for x in movie:
    for y in movie[x]:
        type(y)
for index, row in df.iterrows():
    x = row['id']
    MId = int(x[x.find('_') + 1:])
    num, den = 0.0, 1.0
    for gen in movie[MId]:
        if gen in gen_rating:
            num += sum(gen_rating[gen])
            den += len(gen_rating[gen])
    if den > 1.0:
        den = den - 1 
        rating = num/den
    else :
        rating = 3.5
    df.set_value(index, 'rating', rating)
df[:5]

   user    rating      id
0     1  3.778879  1_1193
1     1  3.578039   1_661
2     1  3.638652   1_914
3     1  3.778879  1_3408
4     1  3.540685  1_2355

In [7]:
df.to_csv('Data/Genresults.csv', index=False)